@font-face {
    font-family: 'future23';
    src: url('font.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

body {
    height: 88vh;
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: pink;
    background-image: url('https://www.artranked.com/images/02/0216dc92dfcc1b0149204e528cfdb9a2.jpg');
    font-family: future23, monospace;
}

.layout {

}

nav {
}

a {
    text-decoration: none;
    color: hotpink;
}

ul {
    list-style: none;
}

.login-window {
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 400px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: hotpink;
}


.login-fields {
    display: flex;
    flex-direction: column;
}

.submit-button {
    margin: 2em 8em;
    font-family: future23;
}

.home-window, .profile-window {
    height: 69vh;
    background-color: white;
    background-color:rgba(255, 255, 255, 0.5);
    padding: 0.3em 1em;
}

.todo-list {
  margin: 2em 0;
  background: #e8e8e8;
  border-radius: 4px;
  max-width: 400px;
  padding: 0.7em;
}

.todo {
    align-items: center;
    background: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    margin-bottom: 0.5em;
    padding: 0.69em 2em;
}
